@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #2990b9, #ad448d);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background: #ecf0f3;
  border-radius: 10px;
}

.img-area,
.social-icons a,
.buttons button {
  background: #ecf0f3;
  border-radius: 10px;
  box-shadow: -4px -4px 7px #fff, 3px 3px 5px #bebec5;
}

.wrapper {
  padding: 30px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .img-area {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% -25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}

.inner-area img {
  height: 177px;
  width: 175px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 23px;
  font-weight: 500;
  color: red;
  margin: 10px 0 5px 0;
  font-weight: 500;
}

.about {
  font-weight: 400;
  color: #44476a;
  font-size: 16px;
}

.about-1 {
  font-weight: 400;
  color: #44476a;
  font-size: 13px;
  padding-top: 5px;
}

.social-icons {
  margin: 15px 0 25px 0;
}

.social-icons a {
  height: 45px;
  width: 45px;
  display: inline-flex;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 50%;
}

.social-icons a i {
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 45px;
}

.social-icons a.fb i {
  color: #4267b2;
}

.social-icons a.tiktok i {
  color: #000;
}

.social-icons a.insta i {
  color: #e1306c;
}

.social-icons a.github i {
  color: #000;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons a {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
}

.buttons button:first-child {
  margin-right: 10px;
}

.buttons button:last-child {
  margin-left: 10px;
}

@media (min-width: 737px) {
  .wrapper {
    margin: 0 2%;
  }
}
